.note{
    padding: 20px;
    height: 21.5rem;
    width: 23.4rem;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
}
.note:hover{
    color: blueviolet;
    background-color: rgb(233, 206, 241);
}

.note>header{
    position: relative;
    top: -2.8rem;
    right: 0rem;
    width: 100px;
}
.note-content{
    height: 4rem;
}

.note>svg{
    position: relative;
    top: -0.5rem;
    right: -18rem;
    font-size: 2.5rem;
}


.note>footer{
    position: relative;
    bottom: -8.5rem;
    left: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.note>footer>p{
    padding: 0px;
    margin: 0px !important;
}
.note>footer>svg{
    font-size: 1.8rem;
}

@media screen and(max-width:500px) {
    
}